name: Build and release

on:
    push:
        tags:
            - "*"

permissions:
    contents: write

jobs:
    goreleaser:
        name: Release with GoReleaser
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.23"
                  cache: true

            - name: Install cross-compilation tools
              run: |
                  sudo apt-get update
                  sudo apt-get install -y gcc-mingw-w64-x86-64 wget unzip make

            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@v6
              with:
                  distribution: goreleaser
                  version: latest
                  args: release --clean
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
